body{
background-color: black;
color: green;
}

a{
color: green;
text-decoration: underline
}

a:hover{
color: green;
}

.card, .card-text, .card-title{
background-color: black;
}

hr{
background-color: green;
}

.breadcrumb{
background-color: black;
}

textarea{
border: none;
}