<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is thread </title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Logged in as {{ user.username }} </li>
        <li class="breadcrumb-item"><a href="{% url 'Auth_:logout' %}">Logout</a></li>
        <li class="breadcrumb-item"><a href="{% url 'Auth_:index' %}">Home</a> </li>
        <li class="breadcrumb-item"><a href="{% url 'Board:board' %}">Board</a></li>
        <li class="breadcrumb-item"><a href="{% url 'Chat:index' %}">Chat</a></li>
  </ol>
</nav>

<div class="container">
    <div class="row">
            <div class="col-lg-2 col-xl-2 "></div>
            <div class="col-lg-8 col-xl-8 ">
    <div class="card">
        <div class="card-title"><h4> {{ thread.thread_title }} &nbsp;</h4></div>
            <h6>Category: {{ thread.category }}</h6><br />
        <div class="card-text"><h5> {{ thread.thread_text }} </h5>
            {% if thread.thread_author == user.username %}
            <form action="{% url 'Board:delete_thread' thread.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Confirm" style="background-color: black; color: green; border: none;">
            </form>
        <a href="#" value="delete" style="background-color: black; color: green; border: none;">delete</a></div>
            {% endif %}
    </div>
<hr />

    {% for comment in comments %}
    {{ comment.comment_author }} replied @ {{ comment.pub_date }}<br />
    {{ comment }}<br /><br />
    {% endfor %}
    <form method="post" class="">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name="comment">POST</button>
</form>
            </div>
            <div class="col-lg-2 col-xl-2 "></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>